<div id="main">
	<h1>Google Trending Search Terms</h1>
	<div id="list-container">
	</div>
	<div id="footer">
		<a href="http://joncipriano.com" target="_blank">Jonathan Cipriano</a>
	</div>
</div>

{% raw %}
<script id="region-list-template">
	<%= partial "templates/RegionListTemp" %>
</script>
{% endraw %}